In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("netflix_titles.csv")

In [3]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
data.shape

(7787, 12)

In [5]:
list(data.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [7]:
data.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [10]:
data1 = data[["show_id", 'title', 'release_year','rating']]

In [11]:
data1.head(20)

,show_id,title,release_year,rating
0,s1,Dick Johnson Is Dead,2020,PG-13
1,s2,Blood & Water,2021,TV-MA
2,s3,Ganglands,2021,TV-MA
3,s4,Jailbirds New Orleans,2021,TV-MA
4,s5,Kota Factory,2021,TV-MA
5,s6,Midnight Mass,2021,TV-MA
6,s7,My Little Pony: A New Generation,2021,PG
7,s8,Sankofa,1993,TV-MA
8,s9,The Great British Baking Show,2021,TV-14
9,s10,The Starling,2021,PG-13
10,s11,"Vendetta: Truth, Lies and The Mafia",2021,TV-MA
11,s12,Bangkok Breaking,2021,TV-MA
12,s13,Je Suis Karl,2021,TV-MA
13,s14,Confessions of an Invisible Girl,2021,TV-PG
14,s15,Crime Stories: India Detectives,2021,TV-MA
15,s16,Dear White People,2021,TV-MA
16,s17,Europe's Most Dangerous Man: Otto Skorzeny in ...,2020,TV-MA
17,s18,Falsa identidad,2020,TV-MA
18,s19,Intrusion,2021,TV-14
19,s20,Jaguar,2021,TV-MA

In [13]:
print(data1["rating"].unique())

['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 min' '84 min' '66 min' 'NR' nan 'TV-Y7-FV' 'UR']

In [15]:
data1["rating"].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

In [18]:
data1.loc[(data1.rating == "PG-13") & (data1.release_year >= 2015)]

     show_id                                     title  release_year rating
0         s1                      Dick Johnson Is Dead          2020  PG-13
9        s10                              The Starling          2021  PG-13
38       s39                       Birth of the Dragon          2017  PG-13
88       s89  Blood Brothers: Malcolm X & Muhammad Ali          2021  PG-13
112     s113                                     Worth          2021  PG-13
...      ...                                       ...           ...    ...
8659   s8660                        Undercover Grandpa          2016  PG-13
8675   s8676                                    Victor          2015  PG-13
8693   s8694                               Walking Out          2017  PG-13
8743   s8744                                  Wildlife          2018  PG-13
8782   s8783                               Yoga Hosers          2016  PG-13

[175 rows x 4 columns]